
h1 {
  color: gray;
  font-family: sans-serif;
}

.gradient-box {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,d10ecd+28,f1da36+92 */
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top, #fefcea 0%, #d10ecd 28%, #f1da36 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefcea 0%,#d10ecd 28%,#f1da36 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefcea 0%,#d10ecd 28%,#f1da36 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

  width: 300px;
  height: 150px;

  border-radius: 20px;


}

body, * {
  box-sizing: border-box;
  --favorite: goldenrod;


}

.clear {
  clear: both;
}

#wrapper {
  background-color: gray;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color:  var(--favorite, gray);
  height: 100px;
}

nav {
  background-color: lightblue;
  height: 50px;
}

main {
  background-color: white;
  width: 960px;
}

footer {
  background-color:  var(--favorite, gray);

  height: 100px;
}

aside {
  background-color: cadetblue;
  width: 300px;
  min-height: 400px;
  float: left;
}

section {
  background-color: thistle;
  width: 660px;
  min-height: 400px;
  float: left;
  position: relative;
}
