
h1 {
  color: gray;
  font-family: sans-serif;
}

.gradient-box {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefcea+0,d10ecd+28,f1da36+92 */
background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(top, #fefcea 0%, #d10ecd 28%, #f1da36 92%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fefcea 0%,#d10ecd 28%,#f1da36 92%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fefcea 0%,#d10ecd 28%,#f1da36 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */

  border-radius: 20px;
}

body, * {
  box-sizing: border-box;
  --favorite: goldenrod;


}

.clear {
  clear: both;
}

#wrapper {
  background-color: gray;
  max-width: 960px;
  margin: 0 auto;
}

header {
  background-color:  var(--favorite, gray);
  height: 100px;
}

nav {
  background-color: lightblue;
  z-index: 10;
  height: 200px;
}
nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height:1.5rem;
}
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .5s background-color;
  border-bottom: 3px solid #888;
}
nav a:hover {
  background-color: violet;
}
nav a.active {
  background-color: green;
  cursor:default;
}
nav li li {
  font-size: 1rem;
  text-align: left;
}
nav li li a {
  padding-left: 10px;
}

main {
  background-color: white;
  width: 960px;
  z-index: 0;
}

footer {
  background-color:  var(--favorite, gray);

  height: 100px;
}

aside {
  background-color: cadetblue;
  width: 300px;
  min-height: 400px;
  float: left;
}

section {
  background-color: thistle;
  width: 660px;
  min-height: 400px;
  float: left;
  position: relative;
}

.myflex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}

.myflex .gradient-box {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}


@media (max-width: 767px) {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  main {
    width: 100%;
  }
  #wrapper {
    max-width: 100%;
  }
  aside {
    float: none;
    width: 100%;
  }
  section {
    float: none;
    width: 100%;
  }
  nav {
    height: 260px;
  }
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav li {
    /* display: inline-block; */
    margin-right: -4px;
    font-size: 1.5rem;
    line-height: 2.25rem;
    border-bottom: none;
    width: 120px;
  }
  nav li ul {
    position: absolute;
    display: none;
    opacity: 0;
    transition: 0.5s opacity;
  }
  nav a {
    border-bottom: none;
  }
  nav li:hover ul {
    display: block;
    opacity: 1;
  }
  nav li ul li {
    display: block;
  }


}
